[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.99.0"
pydantic = "==1.10.9"
mangum = "==0.17.0"
requests = "*"
strawberry-graphql = "*"

[dev-packages]
python-lambda-local = "*"
uvicorn = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.7"
